name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: 'temurin'
